<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>스프링 부트 보안</title>
</head>
<body>
	<form action="login" th:action="@{/login}" method="POST">
		<div th:if="${param.error}">
			<span>유효하지 않은 이메일 또는 비밀번호</span>
		</div>
		<input type="text" name="username" placeholder="사용자ID"/>
		<input type="password" name="password" placeholder="비밀번호"/>
		<button type="submit">로그인</button>
	</form>
</body>
</html>